body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a{
    text-decoration: none;
    color: white;
}

.header-container{
    background-color: #353b48;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    /* height: 70px; */
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    margin-left: 10px;
}

/* .menu li a {
    display: block;
    padding: 10px;
} */

.nav-link-item a {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
}